<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>장소 목록</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <style>
        .place-image {
            width: 300px;
            height: 300px;
            object-fit: cover; /* 이미지가 비율을 유지하면서 박스에 맞춰집니다. */
        }
    </style>
</head>
<body>
<div class="container">
    <table class="table">
        <thead>
        <tr>
            <th>장소</th>
            <th>이미지</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="place, index : ${placeList}">
            <td>
                <a th:href="@{|/seoulDensity/detail/${place.id}|}" th:text="${place.placeName}"></a>
            </td>
            <td>
                <img th:src="@{${place.imagePath}}" alt="이미지" class="place-image"/>
            </td>
        </tr>
        </tbody>
    </table>
</div>
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>

